.container-add-account{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    height: 87vh;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-item{
    border-radius: 50%;
    height: 23rem;
    width: 23rem;
    object-fit: cover;
}
.edit-item{
    color: #5C61CC;
}

.edit-item-container{
    margin-top: auto;
}

.edit-item:hover{
    color: #3b41b9;
}

.forms{
    display: flex;
    justify-content: space-evenly;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-item{
    width: 12rem;
    height: 3rem;
}

.first, .second{
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-control{
    height: 3rem;
    width: 20rem;
}

.image> .edit-item-container > input {
    display: none;
  }




