
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed #5256AD !important;
    border-image: none;
    margin-top: 2rem;
    /* max-height: 95rem; */
	height: 100%; 
    width: 80vw !important;
} 

.main-container{
	display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    height: 87vh;
}

.table-position{
    margin-top: 2rem;
    /* max-height: 95rem; */
	height: 100%; 
    width: 80vw !important;
}

.dropzone-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.icon, .text-drag, .text-or{
    color: #5256AD !important;
}


.text-container{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    margin: 1rem;
    height: 10rem;
}

.button-item:focus{
    background-color: #5256AD !important;
}

.dz-max-files-reached {
    pointer-events: none !important;
    cursor: default !important;
  }


.preview-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    height: 20rem;
}

.generate-report-btn{
    pointer-events: auto !important;
    color: white !important;
}


