.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center !important;
    height: 50vh;
    /* border: 2px solid blue; */
}

.container-generate-report{
    /* border: 2px solid red; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center !important;

}

.fa-file-download{
    font-size: 13rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #5C61CC !important;
  }
  
  .btn-primary:hover{
    background-color: #5256AD !important;
  }

  html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }