.container{
    margin: 1rem;
}
.navbarColor{
    background-color: #5256AD !important;
}

.navbarColor-footer{
    background-color: #5C61CC !important;
}

.profile-pic{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}

.no-link-color{ 
    color: white; 
} 

.no-link-color:hover{
    color: white;
}