#map, #map:focus, #map:active{ 
    height: 100%; 
    width: 85vw !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.map-container{
    display: flex;
    flex-direction: column;
    height: 87vh;
    justify-content: center !important;
    align-items: center !important;
}